*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

:root{
    --green:(#4CAF4F);
    --white:(#fff);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #fff;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.menu.ativo .bar:nth-child(2) {
    opacity: 0;
}
.menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navigation ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-item a{
    color: #18191F;
    text-decoration: none;
}

.b1{
    color: #4CAF4F;
}

.b2{
    color: #fff;
    padding: 10px 20px;
    background: #4CAF4F;
    border-radius: 8px;
}

@media (max-width: 785px) {
    /* Mostrar o botão de menu no mobile */
    .menu {
        display: block;
    }

    /* Configuração do menu mobile */
    .navigation ul {
        display: none;
        position: fixed;
        top: 70px;
        right: -100%;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: var(--green);
        gap: 16px;
        padding: 20px 0;
        transition: all 0.3s ease-in-out;
        z-index: 999;
    }

    /* Menu ativo no mobile */
    .navigation ul.ativo {
        right: 0;
        display: flex;
    }

    /* Links no mobile */
    .nav-item {
        text-align: center;
    }

    .nav-item a {
        color: var(--white);
        font-size: 1.2rem;
    }
}